{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <br> <br>
    <div class="alert alert-success text-center fw-bold">User Profile</div>
    <br>

    <div class="row ml-5 ">
        <div class="col-sm-4 align-items-center offset-4" >

        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <h5 class="card-title text-center">User Details</h5><br>
                <h6 class="card-subtitle mb-2 text-muted">Username : {{user}}</h6><br>
                <h6 class="card-subtitle mb-2 text-muted">Firstname : {{user.first_name}} </h6><br>
                <h6 class="card-subtitle mb-2 text-muted">Lastname :  {{user.last_name}}</h6><br>
                <h6 class="card-subtitle mb-2 text-muted">Email : {{user.email}}</h6><br>


                    <div class="text-center">
                        <a href="{% url 'editprofile' user.id%}" class="btn btn-primary">Edit profile</a>
                        <a href="{% url 'logout' %}" class="ml-3 btn btn-success">Logout</a>
                    </div>
            </div>
        </div>
    </div>
</div>

</div>
    
{% endblock content %}